<div  class="card suggest-block">
  <div class="card-header">
    <img class="ok" src="/assets/icons/ok.png">
    {{clinicFound}}
  </div>
  <div class="row content">
    <div class="col-md-3 ">
      <img class="logo img-responsive" src="{{logo}}">
    </div>

    <div class="col-md-6 ">
      <h2 class="hour">{{this.registrations[0].date | date: 'HH' }}:{{this.registrations[0].date | date: 'mm' }}</h2>
      <h1 class="clinicName">{{clinicName}}</h1>
      <h2 class="clinicStreet">{{clinicStreet}}</h2>

      <h2 class="doctor">{{doctorName}}</h2>

    </div>

    <div class="col-md-3 ">

      <input type="button" (click)="showConfirm(registration)" class="btn btn-success btn-md" value="Register">
    </div>
  </div>





</div>
