.suggest-block{
  display: block;
  width: 500px;
  margin-bottom: 10px;

}

.card{
  display: block;

}
.content{
    padding: 20px;
}
.card-header{
  font-weight: bold;
}

.clinicName{
  font-size: 1.0rem;
  line-height: 10px;
}

.clinicStreet{
  font-size: 1.0rem;
  line-height: 10px;
}

.hour{
  font-size: 1.5rem;

}
.ok{
  max-width: 50px;
  margin-right: 10px;
}

.doctor{
  font-size: 1.0rem;
}

.logo{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 200px;

}
