<div style="position: relative; z-index: 1; width: 500px; margin-top: 10px; height: auto;">
    <div class="card">
        <div class="card-header">
            Najbliżej Ciebie
        </div>
        <div class="card-body">
            <div class="media">
                <img class="mr-3" height="50" src="assets/icons/scanmed.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h6 class="mt-0">Jan Kowalski</h6>
                    Scanmed
                </div>
            </div>
        <hr>
        </div>
    </div>
</div>