<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Register form</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <div class="media p-3 mb-3" style="border: 1px solid lightgray">
        <img class="mr-3" height="50" src="{{registration.clinic.logo}}" alt="Generic placeholder image">
        <div class="media-body">
          <h6 class="mt-0">dr. {{registration.doctor.firstname}} {{registration.doctor.lastname}}</h6>
          <strong>{{registration.date | date: 'HH' }}:{{registration.date | date: 'mm' }}</strong><br>
          <small>700m {{registration.clinic.address}}</small>
        </div>
      </div>
      <div *ngIf="!submit">
        <form>
          <div>
            <label>Firstname</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Lastname</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>PESEL</label>
            <input type="number" class="form-control">
          </div>
          <button type="submit" (click)="submitForm()" class="btn btn-primary">Submit</button>
        </form>

      </div>

      <div *ngIf="submit">
        <div class="alert alert-success" role="alert">
          <strong>Well Done !</strong> You are registered to the doctor.
        </div>
      </div>
    </div>
  </div>
</div>
